langchain
langchain-core
langchain-community
pypdf
pymupdf
tqdm
sentence-transformers
faiss-cpu
chromadb
langchain-groq
python-dotenv
typesense
langchain-huggingface
langchain_openai
langgraph
langchain-text-splitters
langchain-ollama 